div .teal_text {
    color:teal;
    font-size: 18px;
}

img {
    width: 300px;

}

footer>a{
    color: rgb(156, 91, 7);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#important_stuff+h1{
    font-size: 50px;
    text-transform: lowercase;
    color: darkblue;
}
a:link{
    font-weight: bolder;
    color:hotpink;
}

a:visited{
    color: brown;
}

#important_header:hover{
    font-size: 30px;
    color: greenyellow;
}

#important_header:active{
    font-size: 50px;
    color: blueviolet;
}


